 <div>
      <strong><%= order.product_name %>:</strong>
      <%= order.product_count.to_s %>
      <div class="order-admin">
            <%= link_to "Edit", edit_customer_order_path(@customer, order) %>
            <%= link_to "Delete", [@customer, order], data: { 'turbo-method': :delete } %>
      </div>
</div>